body{
    background-color: #EEEEEE; 
    margin: auto;
}
.Container{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Box{
    width: 950px;
    height: 550px;
    background-color: #FFFFFF;
    display: flex;
    border-radius: 20px;
}

.imgg{
    filter: brightness(.9);		
    width: 100%;
    height: 550px;
    border-radius: 20px;
}
.Esquerdo{
    width: 50%;
}
.Direito{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 550px;
}
.inputLogin{
    width: 80%;
    margin-top:5%;
    margin-bottom: 10%;
    border: none;
    border-bottom: 3px solid #212DDB;
    height: 28px;
    outline: none;
}
.inputLogin::placeholder{
    font-size: 16   px;
    color: #343434
}
.btnLogin{
    width: 40%;
    height: 38px;
    background-color: white;
    border: 2px solid #1858F2;
    font-size: 19px;
    color: #1858F2;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 40%;
    margin-left: 120px;
    
}
.btnLogin:focus{
    width: 40%;
    height: 38px;
    background-color: white;
    border: 2px solid #1858F2;
    font-size: 19px;
    color:white;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 40%;
    margin-left: 120px;
    background-color: #1858F2;
    
}
.itensLogin{
    position: relative;
    left: 150px;
    bottom: 475px;
    width: 30%;
}
.LetraSPMEGROUP1{
    margin-top:35px;
    margin-left: 55px;
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
}
.LetraSPMEGROUP2{
    margin-top:35px;
    margin-left: 40px;
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
}
.LetraSPMEGROUP3{
    margin-top:35px;
    margin-left: 23px;
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
}